body {
    background-color: var(--primary-text-color);
    color: var(--title-text-color);

    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0 0;
}

img {
    display: block;
    max-width: 100%;
}