:root {
    --primary-text-color: #FFFFFF;
    --title-text-color: #212121;
    --accent-color: #757575;
    --accent-text-color: #2196f3;
    --special-background-color: #2F303A;
    --team-background-color: #F5F4FA;
    --contact-text-color: rgba(255, 255, 255, 0.6);
}